<div class="container">
  <div class="exercise-header">
    <h2>Q{{currentExercise.id}}: {{currentExercise.title}}</h2>
    <p>{{currentExercise.description}}</p>
  </div>
  <ngx-monaco-editor [options]="editorOptions" [(ngModel)]="currentExercise.initialCode"></ngx-monaco-editor>
  <button (click)="runCode()">実行して判定</button>
  <div class="result-panel">
    @if (isCorrect === true) {
      <div class="alert success">🎉 正解です！ <br> {{currentExercise.explanation}}</div>
    } 
    @if (isCorrect === false) {
      <div class="alert error">❌ 不正解です。<br> 期待値　: {{currentExercise.expectedOutput | json}}</div>
    }
    <div class="output">
      出力結果: {{ results | json }}
    </div>
  </div>
</div>